################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjectTimeChecker/bin/Debug/netcoreapp3.1
/ProjectTimeChecker/obj
/ProjectTimeCheckerDBA/bin/Debug/netcoreapp3.1
/ProjectTimeCheckerDBA/obj
